<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temper.mapper.TreeMapper">
  <resultMap id="BaseResultMap" type="com.temper.model.Tree">
    <id column="nodeId" jdbcType="BIGINT" property="nodeid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="layer" jdbcType="VARCHAR" property="layer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nodeId, name, layer
  </sql>
  <select id="selectByExample" parameterType="com.temper.model.TreeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tree
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tree
    where nodeId = #{nodeid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tree
    where nodeId = #{nodeid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.temper.model.TreeExample">
    delete from tree
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.temper.model.Tree">
    insert into tree (nodeId, name, layer
      )
    values (#{nodeid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{layer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.temper.model.Tree">
    insert into tree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeid != null">
        nodeId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="layer != null">
        layer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeid != null">
        #{nodeid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.temper.model.TreeExample" resultType="java.lang.Integer">
    select count(*) from tree
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tree
    <set>
      <if test="record.nodeid != null">
        nodeId = #{record.nodeid,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.layer != null">
        layer = #{record.layer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tree
    set nodeId = #{record.nodeid,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      layer = #{record.layer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.temper.model.Tree">
    update tree
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=VARCHAR},
      </if>
    </set>
    where nodeId = #{nodeid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.temper.model.Tree">
    update tree
    set name = #{name,jdbcType=VARCHAR},
      layer = #{layer,jdbcType=VARCHAR}
    where nodeId = #{nodeid,jdbcType=BIGINT}
  </update>
</mapper>